<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/comments_form.css" />

    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <form method="post">
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="Course code"
          name="courseCode"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="Course name"
          name="courseName"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="<%= displayQuestion1 %>"
          name="randomQuestion1"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="<%= displayQuestion2 %>"
          name="randomQuestion2"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="<%= email %>"
          name="email"
          disabled
        /><br />
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          style="height: 100px"
          name="comment"
          required
        ></textarea
        ><br />
        <input
          type="submit"
          class="btn btn-primary"
          value="Submit"
          name="submit"
        />
      </form>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Copyright -->
    <footer class="bg-dark text-center text-lg-start">
      <div class="text-center p-3" style="color: white">
        <p>© 2021 Copyright Demario Douce - 301021637</p>
      </div>
    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
