<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/general.css" />

    <title><%= title %></title>
  </head>
  <body>
    <header class="text-center">
      <img src="/img/logo.png" alt="Logo" width="300px" height="200px" />
    </header>
    <div class="container">
      <div class="text-center">
        <h1>SIGN UP AS A STUDENT</h1>
      </div>

      <form method="post">
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="First name"
          name="firstName"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="Last name"
          name="lastName"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="<%= displayQuestion1 %>"
          name="randomQuestionAnswer1"
          required
        /><br />
        <input
          type="text"
          class="form-control"
          size="30"
          placeholder="<%= displayQuestion2 %>"
          name="randomQuestionAnswer2"
          required
        /><br />
        <input
          type="email"
          class="form-control"
          size="30"
          placeholder="Email"
          name="email"
          required
        /><br />

        <input
          type="password"
          class="form-control"
          size="30"
          placeholder="Password"
          name="password"
          required
        /><br />

        <input
          type="submit"
          class="btn btn-primary"
          value="Login"
          name="submit"
        />
      </form>
    </div>
    <!-- Copyright -->
    <footer class="bg-dark text-center text-lg-start" style="margin-top: 20%">
      <div class="text-center p-3" style="color: white">
        <p>
          Copyright© 1995-2021 Demario Douce-301021637. All rights reserved.
        </p>
      </div>
    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
